*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header and navigation styles */
header{
    background-color: rgba(255, 144, 14, 0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    margin: 0px 240px;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin: 40px;
    color: #424242;
}
.nav-title{
    font-weight: 700;
    font-size: 45px;
}

/* banner styles */
.banner{
    margin : ;
}
.banner h1{
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #131313;
    margin-bottom: 10px;
}
.banner p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 800px;
    margin-left: 526px;
    /* margin-right: 520px; */
    margin-bottom: 20px;
    text-align: center;
    height: 40px;
}
.banner button{
    width: 180px;
    height: 64px;
    margin-left: 870px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    margin-bottom: 50px;
    border: none;

}
.banner img{
    margin-left: 240px;
    width: 1400px;
    margin-bottom: 10px;

}
/* section-1 styles */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
    margin-left: 300px;
    margin-bottom: 30px; 
}
.section-image{
    display: flex;
    gap: 10px;   
}
.section-image{
    flex: 1;
}
.section-details{
    margin-right: 312px;
}
.section-details h3{
    font-weight: 500;
    font-size: 45px;
}
.section-details h3 .heading-1{
    color: #727272;
}
.section-details h3 .heading-2 {
    color: #FF900E;
    margin-bottom: 20px;
}                         
.section-details p{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 25px;
    color: #727272;
}
.section-details button{
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;           
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}

/* love and enjoy */
.section-love{
    /* display: flex;
    justify-content: center; */
    border: 2px solid green;
}
/* .section-heading{
    display: flex;
    gap: 20px;
} */
.section-heading h1{
    width: 5px;
    height: 105px;
    background-color:#FF900E;
   
}
.section-heading h2{
    font-weight: 700;
    font-size: 45px;
}
.section-heading p{
    width: 500px;
    font-weight: 400;
    font-size: 16px;
}
/* div-styles */
.facts h2{
    font-weight: 700;
    font-size: 45px;
    margin-left: 240px;
    margin-bottom: 24px;
}
.facts p{
    font-weight: 400;
    font-size: 16px;
    width: 542px;
    color: #727272;
    margin-left: 240px;
    margin-bottom: 100px;
}

/* box styles */
.box{
    display: flex;
    justify-content: center;
    gap: 160px;
    margin-bottom: 150px;
}
.box-1,.box-2,.box-3,.box-4{
    border: 2px solid rgba(212, 237, 100, 0.856);
    border-radius: 5px;
    padding: 50px;
    text-align: center;
}

/* div styles */
.sponspors h2{
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}
.sponspors P{
    margin-left: 690px;
    margin-right: 690px;
    font-weight: 400px;
    font-size: 16px;
    color: #727272;
    margin-bottom: 50px;
    text-align: center;

}
.icon{
    display: flex;
    justify-content: space-evenly;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 130px;

    /* margin-bottom: 400px; */

}

/* footer styles */
footer p{
    background: #FFF4E7;
    border-radius: 8px;
    padding: 38px 400px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-bottom: 200px;
    margin-left: 240px;
    margin-right: 240px;
}
